body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header {
    background-color: #4d4949;
    color: #fff;
    padding: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-left {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.menu-left li {
    display: inline;
}

.menu-left li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.menu-left li a:hover {
    text-decoration: underline;
}

.menu-right {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right;
}

.menu-right li {
    display: inline;
}

.menu-right li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.menu-right li a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #fff;
    color: #000000;
    padding: 10px 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #201111;
    border-radius: 5px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #555;
}

.container2 {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    color: #000000;
    padding: 10px 20px;
}
.btn{
    text-decoration: none;
    border-bottom: solid;
}